#no . files except .github, .gitignore
.*
!.github
!.gitignore
!input
#ignore input/data
input/data
input/data/*

input/code/__pycache__
input/code/.ipynb_checkpoints
input/code/submission
input/code/saved
input/code/saved/*
input/code/model_ckpt
input/code/model_ckpt/*
input/code/saved
input/code/wandb

#ignore 
input/code/*.out
#ignore folder
mission1/*
mmsegmentation/*
mmseg_format/*

#ignore notebook
*.ipynb

#ignore png
*.png

#ignore all MaskFormer 
MaskFormer


#ignore except 
!input/utils

#ignore all except config folder 
!mmsegmentation/tools/submission.py
!mmsegmentation/train_script.sh
!mmsegmentation/inference_script.sh

#ignore data
mask_visualizer/data
mask_visualizer/data/*
!mask_visualizer/visualizer.ipynb

SenFormer