#no . files except .github, .gitignore
.*
!.github
!.gitignore

#ignore input/data
input/data
input/data/*

input/code/__pycache__
input/code/.ipynb_checkpoints
input/code/submission
input/code/saved
input/code/saved/*
input/code/model_ckpt
input/code/model_ckpt/*
input/code/saved

#ignore folder
mission1/*
mmsegmentation/*
mmseg_format/*

#ignore notebook
*.ipynb

#ignore png
*.png